body {
    margin: 0;
    background: black;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    margin: 5px 10px;
}

#carCanvas {
    background: #858585;
}

#networkCanvas {
    background: black;
}